.imggg{
    /* border: solid ; */
    height: 250px;
    width: 250px;
   margin-left: 150px;
   }
   #imgs{
   width: 200px;
   width: 150px;
   margin-top: 20%;
   margin-left: 20%;
   border-radius: 50%;
   
   }
   #collum{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding: 5%;
  margin-left: 15%;
  background-color: rgba(29, 29, 29, 0.356);
  width: 1300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  
  }
  