html{
    background-color: aquamarine;
}
nav {
    background-color: #0e0d0d04;
    height: 80px;
    width: 100%;
    
  }
  label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul {
    float: right;
    margin-right: 100px;
  }
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    padding: 5px 10px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: #00000063;
    transition: 0.5s;
    border-radius: 5px;
  }
  .checkbtn {
    float: right;
    color: white;
    margin-right: 40px;
    display: none;
    cursor: pointer;
  }
  .checkbtn i {
    line-height: 80px;
    font-size: 25px;
  }
  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
    font-family: monospace;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    
    
  }
  #navv{
     
    -webkit-backdrop-filter: blur( 4.5px ); 
        backdrop-filter: blur(4px) saturate(180%);
      -webkit-backdrop-filter: blur(4px) saturate(180%);
      background-color: rgba(207, 26, 20, 0.678);
      border: 1px solid rgba(255, 255, 255, 0.125);
    border: 1px solid rgba(15, 4, 44, 0.18);
  }
  
  #nav {
    padding: 0px;
  }
  
  #nav a {
    font-weight: bold;
    color: #504f2c;
  }
  
  #nav a.router-link-exact-active {
    color: #42b983;
  }
  .cards-list {
    margin-top:15% ; 
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  #img{
   height: 250px;
   width: 250px;
  }
  
  #gamegame{
    height: 1cm;
    width: 1cm;
    background-color: black;
  }
  .card {
    margin: 15px auto;
    width: 250px;
    height: 250px;
    border-radius: 20%;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }

  