<div>
    <nav id="navv">
        <i class="fas fa-bars"></i>
    
        <label class="logo">Kids World</label>
        
    </nav>
<div>
<p>home works!</p>
</div>
<div>
    <div class="cards-list">
        <div class="card 1">
          <div class="card_image">
            <img  id="img"
              src="https://images-ext-1.discordapp.net/external/bVeGD1Lo5nc_Uaw2C8I8kESUnlNdJvwaXZeeRyZI3MA/https/cdn3d.iconscout.com/3d/premium/thumb/cute-crocodile-4609617-3811471.png?width=433&height=433"
            />
          </div>
          <div class="card_title title-white"></div>
        </div>
    
        <div class="card 2">
          <div class="card_image">
            <img id="img"
              src="https://images-ext-1.discordapp.net/external/O5Sm8pGT09AVA_zQnhPxOpW_6j25BQE3JUbJqtSDeN4/https/cdn3d.iconscout.com/3d/premium/thumb/color-palette-and-brush-4022907-3328685.png?width=433&height=433"
            />
          </div>
          <div class="card_title title-white"></div>
        </div>
    
        <div class="card 3">
          <div class="card_image">
            <img  id="img"
              src="https://images-ext-2.discordapp.net/external/kyettUG_908oFu7-C8JmOtNGIdFYs6Ics-zja1YwfFg/https/cdn3d.iconscout.com/3d/premium/thumb/fruit-basket-4621201-3852043.png?width=433&height=433"
            />
          </div>
          
          <div class="card_title"></div>
        </div>
        <div class="card 4">
          <div class="card_image"> <img id="img"
              src="https://images-ext-2.discordapp.net/external/6gjcxtvNyvEzUE_q3GkZL6JJG2uvcID3O5HYR0HNeTI/https/cdn3d.iconscout.com/3d/premium/thumb/1-number-4863653-4056299.png?width=433&height=433"
            />
           
          </div>
          <div class="card_title title-black"></div>
        </div>
     
      </div>
</div>