body {
    margin-left: 0px;
    font-family: monospace;
    background-image: url("https://wallpaperaccess.com/full/1704619.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 100%;
  }
