



 <nav id="navv">
    <i class="fas fa-bars"></i>
    <ul  id="stt">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/challenges" routerLinkActive="active">challenges</a></li>
      <li><a routerLink="/contact-us" routerLinkActive="active">Contact Us</a></li>
      <li><a routerLink="/statistic" routerLinkActive="active">statistic</a></li>
      <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
    </ul>
  </nav>

<router-outlet></router-outlet>

